<!DOCTYPE html/>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1>Items</h1>
	<p>Item List</p>
	<div id="items">
		<% items.forEach(function(item) { %>
		<div class="items">
			<h2><%=item.itemname%></h2>
		</div>
		<% }) %>
	</div>

</body>
</html>

